<div id="s_wrap">
  <div class="all_content">
    <% @staffs.each do |staff| %>
        <table>
          <tr>
            <td><h2><%= staff.role %></h2></td>
          </tr>
          <tr>
            <td><%=image_tag(staff.photo) %></td>
          </tr>
          <tr>
            <td><b>Name: </b><br \><%= staff.name %></td>
          </tr>
          <tr>
            <td><b>Bio: </b><br \><%= staff.bio %></td>
          </tr>
        </table>
    <% end %>
  </div>
</div>
<br />

