<div id="c_wrap">
  <div class="all_content">
    <h1>Character</h1>
    <% @actors.each do |actor| %>
        <table >
          <td>
              <h2><%= actor.role %></h2>
              <%= image_tag(actor.photo) %>
          </td>
          <td>
            <table class="sub_table">
                <tr>
                    <td><b>Actor: </b></td>
                    <td><%= actor.name %></td>
                </tr>
                <tr>
                    <td><b>Character Bio: </b></td>
                    <td id="c_bio"><%= actor.bio %></td>
                </tr>
            </table>
          </td>
        </table>
    <% end %>
  </div>
</div>
