<div id="sU_wrap">
	<div class="all_content">
		<table class="forms">
            <tr>
              <td><h1>Sign Up</h1></td>
            </tr>
			<tr>
				<td><%= render 'form' %></td>
			</tr>
		</table>
	</div>
</div>
